body {
  /* background: rgb(43, 43, 43); */
  overflow: hidden;
  background-color: rgb(31, 31, 31);
  /* position: relative; */
}

.main-main {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  /* border: 1px solid white; */
}

.customise {
  width: 35%;
  height: 90%;
  background-color: rgb(24, 24, 24);
  /* border: 1px solid white; */
  overflow-y: auto;
  box-shadow: 0px 0 5px 1px rgba(0, 0, 0, 0.185);
}

.model-main {
  width: 60%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  color: rgb(119, 119, 119);
  /* border: 1px solid white; */
}

.floating {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  right: 10px;
  border-radius: 50%;
  background-color: rgb(29, 150, 180);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.288);
  z-index: 10;
}

.floating-hidden {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  right: 15px;
  transform-origin: 0% 0%;
  /* border: 1px solid white; */
  border-radius: 50%;
  background-color: rgb(29, 150, 180);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.288);
}

.floating:hover {
  background-color: rgb(38, 179, 214);
}

.customise-title {
  width: 100%;
  height: 10%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.363);
  color: rgb(29, 150, 180);
  align-items: center;
  justify-content: center;
  display: flex;
}

.customise-title h4 {
  margin: 0;
}

.customise-items {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(102, 102, 102);
}

.card {
  position: relative;
  width: 250px;
  height: 60px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 88, 88);
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.219);
  transition: background-color ease-in-out .2s;
}

.card:hover {
  background-color: rgb(107, 107, 107);
  transition: background-color ease-in-out .2s;
}

.model-main #icon {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border: 1px solid white; */
  box-shadow: 1px 0 4px 1px rgba(0, 0, 0, 0.247);
}

.main-main #content {
  width: 75%;
  height: 100%;
  /* border: 1px solid white; */
}

.main-main #dot {
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(163, 163, 163);
  transition: transform ease-in-out .2s;
}

.main-main #dot * {
  margin-top: -2px;
  color: white;
}

.card:hover>#dot {
  transform: scale(2);
  background-color: tomato;
  transition: transform ease-in-out .2s;
}

.search-main {
  /* left: 50%; */
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(177, 177, 177);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-main:hover {
  background-color: rgb(156, 156, 156);
}

.search-div {
  position: absolute;
  top: -45px;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(177, 177, 177);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.678);
}

.search-main #search-icon {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}

.search-main #input {
  height: 100%;
  width: 70%;
  /* border: 1px solid white; */
}

.search-main #input input {
  width: 100%;
  height: 93%;
  text-align: center;
  font-size: large;
  color: rgb(53, 53, 53);
  background: transparent;
  border: none;
  outline: none;
}

.search-main #cancel {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-main #cancel:hover {
  color: rgb(61, 61, 61);
}

.customise-items-div {
  width: 90%;
  height: 96%;
  /* border: 1px solid white; */
}

.customise-option {
  width: 100%;
  height: 30px;
  background-color: rgb(151, 151, 151);
  border-radius: 4px;
  /* border: 1px solid white; */
  margin: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customise-option #col-1 {
  width: 13%;
  height: 100%;
  /* border: 1px solid white; */
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.062);
}

.customise-option #col-1 * {
  margin-top: -1px;
}

.customise-option #col-2 {
  width: 74%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}

.customise-option #col-3 {
  width: 13%;
  height: 100%;
  /* border: 1px solid white; */
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  box-shadow: -1px 0 2px 1px rgba(0, 0, 0, 0.062);
}

.customise-option #col-3 * {
  margin-top: -1px;
}

.customise-option #col-3:hover {
  background-color: cornflowerblue;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}